body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fdecec;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    background: #f7d9da;
}

.hero-text h1 {
    font-size: 50px;
    line-height: 1.2;
}

.btn {
    margin-top: 20px;
    background-color: #23423b;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}

.hero-img {
    width: 350px;
    border-radius: 10px;
}

/* FEATURED SECTION */
.featured-section {
    padding: 50px 80px;
    text-align: center;
    background: #fdf9f8;
}

.featured-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

/* 3’lü grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 260px;
    /* Bütün çiçekler aynı boyutta */
    object-fit: cover;
    /* Oran bozulmadan kırp */
    border-radius: 10px;
}

.product-card h3 {
    margin-top: 15px;
}