body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

/* Header */
header {
    background: #ff9eb5;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Ürün Listesi */
#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Ürün Kartı */
.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    color: #ff4d6d;
    font-weight: bold;
}